/* Modifier class for 4:3 aspect ratio */
.embed-responsive-4by3 {
  padding-bottom: 75%;
}

.no-border {
    border-color: white !important;
}

/* 
    when stacking photo above text
    always make sure that text is left-aligned
*/
@media (max-width: 767px) {
    .text-right { 
        text-align:left !important; 
    }
}